{% if page.math %}
<!-- MathJax 数学公式渲染 -->
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true
        },
        options: {
            ignoreHtmlClass: 'no-mathjax',
            processHtmlClass: 'math'
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" id="MathJax-script"></script>
{% endif %}